@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  --primary-color: #d00000;
  --primary-color-dark: #858686;
  --secondary-color: #fafcff;
  --text-dark: #2e2e2e;
  --text-darker: #2e2e2e;
  --text-light: #2e2e2e;
  --extra-light: #ffffff;
  --extra-lighter: #2e2e2e;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  padding-top: 0%;
  
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-weight: bold;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  /* height: 20vh; */
}

.btnss {
  padding: 0.75rem 2rem;
  /* outline: none;
  border: none;
  font-size: 1.1rem; */
  color: var(--primary-color);
  border-color: #d00000;
  /* border-radius: 4rem;
  cursor: pointer;
  transition: 0.3s; */
    
  align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: 0.0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow,transform,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}


.btnss:hover {
  background-color: #ffcccc;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.secheader__container {
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  gap: 2rem;
  
}

.secheader__image {
  position: relative;
  width: 100%;
  /* height: 40vh; */
  padding-top: 0%;
}

.secheader__image img {
  position: absolute;
  width: 100%;
  display: block;
  /* top: 30%; */
  margin: 0%;
  left: -10%;
  border: 0.5rem solid var(--extra-lighter);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px #2e2e2e;
}

.secheader__content {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* height: 38vh; */
}

.secheader__content > div {
  max-width: 550px;
  display: grid;
  gap: 1rem;
}

.left__abouts {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 20px;
  color: var(--text-darker);
}


.secheader__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  
}

@media screen and (width < 900px) {
    .secheader__container{
    display: flex;
    flex-direction: column;
  }

  .secheader__image{
    align-items: center;
    justify-content: center;
    
  }

  .secheader__image img{
    max-width: 380px;
    min-height: 150px;
    left: 2%;
  }
  
   .secheader__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .secheader__image {
    min-height: 180px;
  }
}