@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  --primary-color: #d00000;
  --primary-color-dark: #858686;
  --secondary-color: #fafcff;
  --text-dark: #2e2e2e;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
}

.head__container{
    /* max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem; */
    min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: space-between;

}

.left{
  
  display: flex;
  align-items: center;
  justify-content:space-between;
}


.left > div{
  max-width: 500px;
  display: grid;
  gap: 1rem;
}

.left__imgl{
  
    justify-content: start;
    margin: 0px 0px;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 18%;
    left: 8%;
    
}

.left__subtitle {
  position: absolute;
  color: var(--primary-color);
  max-width: calc(var(--max-width) / 2);
  /* text-align: justify; */
  font-size: 6rem;
  gap: 2rem;
  line-height: 6rem;
  font-weight: 600;
  top: 24%;
  left: 8%;
}

.left__calender{
    /* position: absolute;
    height: 30px;
    width: 40px; */
    color: var(--primary-color-dark);
   top: 43%;
   /* left: 8%; */
}

.left__month{
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    color: var(--text-dark);
    left: 8%;
    top:41%;
}

.left__line{
    color: #d00000;
    gap: 1rem;
}

.left__loc{
    color: var(--text-dark);
}

.left__about{
    width: 35%;
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    color: var(--text-dark);
    left: 8%;
    top:48%;
    /* text-align: justify; */
}

.left__ab{
   color: #d00000;
}

.right{
    position: relative;
}

.right img{
  position: absolute;
  top: 5%;
  right: 40%;
}

.right img:nth-child(1) {
  max-width: 450px;
  transform: translate(-5%, 0%);
}

.right img:nth-child(2) {
  max-width: 350px;
  transform: translate(45%, -5%);
}

@media screen and(max-width:768px) {
    .head__container{
        justify-content: space-between;
        grid-template-columns: repeat(1, 1fr);
    }

    .left{

        width: 100%;
    }
    .left__about{
        justify-content: space-between;
        width: 100%;
    }
}