:root {
  --primary-color: #d00000;
  --primary-color-dark: #858686;
  --secondary-color: #fafcff;
  --text-dark: #2e2e2e;
  --text-darker: #2e2e2e;
  --text-light: #2e2e2e;
  --extra-light: #ffffff;
  --extra-lighter: #2e2e2e;
  --max-width: 1200px;
}

*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2E2E2E;
    padding: 0 1rem;
    color: #2E2E2E;
    transition: 0.3s;
    font-weight: bold;
}
a :hover{
    color: #d00000;
}

nav {
  /* padding: 1rem;
  padding-top: 0px;
  position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 100%;
  /* max-width: 1200px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  border: 0.1rem solid var(--extra-lighter);
  border-radius: 0rem;
  box-shadow: 5px 15px 30px #2e2e2e;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  
}

.nav__logo {
  justify-content:baseline;
  margin: 0px 0px;
  padding-left: 35px;
  width: 350px;
  cursor: pointer;
}

.nav__menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.nav__menu :nth-child(3){
    opacity: 0;
}



.nav__toggler > div{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color: #2E2E2E;
    transition: 0.4s ease-in;
}

.nav__toggler{
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px){

    nav{
        width: auto;
    }

    .nav__toggler{
        display: block;
    }
    .nav__menu{
        position: fixed;
        top: 10vh;
        right: 0;
        width: 50%;
        height: 20vh;
        background-color: #ffffff;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }


    .nav__active{
        left: 100px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
    }

    .nav__active a{
        font-size: 30px;
        font-weight: 700;
        
    }

    .nav__menu :nth-child(3){
    opacity: 1;
}
    .log {
        font-size: 40px;
        font-weight: 600;
    }


}

/* Nav active */

.nav__active{
    transform: translateX(0);
}

/* toggle animation */

.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px, -5px);
}